html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: monospace;
}

.full-width {
  width: 100%;
}
input.full-width {
  box-sizing: border-box;
}

.error {
  color: red;
  font-weight: bold;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}
.flex.full-height {
  height: 100%;
}
.flex.wrap {
  flex-wrap: wrap;
}
.todo-list, .todo-logs {
  width: 500px;
  height: 500px;
  background-color: grey;
  color: lightyellow;
  padding: 1em;
}
.todo-item {
  border: 1px solid lightyellow;
  border-radius: 10px;
  padding: 0.4em 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.todo-item:hover {
  background-color: rgba(255, 255, 224, 0.85);
  color: grey;
}
.todo-item.done {
  background-color: green;
  color: white;
  font-weight: bold;
}

.todo-input {
  width: 100%;
}

.tabber {
  flex-direction: column;
}
.tabber .tab-headers {
  height: 4em;
}
.tabber .tab-headers ul {
  list-style-type: none;
}
.tabber .tab-headers ul li.tab {
  float: left;
  color: green;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 3em;
}
.tabber .tab-headers ul li.tab.active {
  font-weight: bold;
  color: white;
  background-color: grey;
}
